@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
	background: hsla(205, 85%, 41%, 1);

	background: linear-gradient(180deg, hsla(205, 85%, 41%, 1) 0%, hsla(195, 73%, 59%, 1) 33%, hsla(45, 99%, 53%, 1) 66%, hsla(331, 91%, 18%, 1) 100%);

	background: -moz-linear-gradient(180deg, hsla(205, 85%, 41%, 1) 0%, hsla(195, 73%, 59%, 1) 33%, hsla(45, 99%, 53%, 1) 66%, hsla(331, 91%, 18%, 1) 100%);

	background: -webkit-linear-gradient(180deg, hsla(205, 85%, 41%, 1) 0%, hsla(195, 73%, 59%, 1) 33%, hsla(45, 99%, 53%, 1) 66%, hsla(331, 91%, 18%, 1) 100%);

	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1077C3", endColorstr="#49BCE3", GradientType=1);
}

.text-shadow {
	text-shadow: 0 0 0.5rem rgb(0, 0, 0);
}